ion-header {
  ion-toolbar {
    --background: none;
    --border-color: rgba(255, 255, 255, 0.12);
    max-width: 1000px;
    margin: 0 auto;

    img.logo {
      height: 34px;
      margin: 20px 20px;
    }
  }
}

ion-content {
  position: absolute;
}

ion-card {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(75, 84, 94, 0.1),
    0 5px 18px 0 rgba(75, 84, 94, 0.1);
  padding: 10px;
  margin: 20px 0 20px 0;

  ion-card-content {
    padding: 0;
  }

  &.main-input {
    margin-top: -30px;
  }
}

div.card {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(75, 84, 94, 0.1),
    0 5px 18px 0 rgba(75, 84, 94, 0.1);
  padding: 10px;
  margin: 20px 0 20px 0;
  &.main-input {
    margin-top: -30px;
  }
}

.hide {
  display: none;
}

ion-button {
  --border-radius: 4px;
}

ion-button.download-large {
  --padding-top: 24px;
  --padding-bottom: 24px;
  margin: 0;
  font-size: 1.1rem;

  box-shadow: 0 2px 4px 0 rgba(75, 84, 94, 0.1),
    0 5px 18px 0 rgba(75, 84, 94, 0.1);
}

ion-button.download-app {
  --background: hsla(0,0%,100%,.12);
}

.hero {
  position: relative;
  overflow: hidden;
  background: linear-gradient(104deg, #7b4397, #dc2430);
  padding: 164px 0 120px;
  text-align: center;

  &::before,
  &::after {
    width: 85%;
    height: 120%;
    background: hsla(0, 0%, 100%, 0.12);
    border-radius: 100%;
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -70%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &::before {
    left: 0;
    transform: translateX(-50%);
  }
  &::after {
    right: 0;
    transform: translateX(50%);
  }
  .hero-container {
    margin: 0 auto;
    max-width: 456px;
    h1.hero-title {
      font-size: 1.875rem;
      margin: 0;
      padding: 0;
      font-weight: 500;
      color: white;
    }
  }
}

.page-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.logo-container {
  text-align: center;
}

#results {
  ion-item {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --border-color: #cccccc;
    animation: popIn 0.2s calc(var(--animation-order) * 70ms) both ease-in;
    &:last-child {
      --border-color: transparent;
    }

    ion-thumbnail {
      width: 60px;
      height: 60px;
      --border-radius: 4px;
    }

    ion-button {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

ion-segment.media-selector {
  max-width: 300px;
  margin: 6px auto 0px auto;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.close-button {
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100px;
  position: absolute;
  z-index: 1;
  right: -2px;
  top: -12px;
  &:hover {
    background: green;
  }
}

.close-button-2 {
  position: absolute;
  z-index: 1;
  right: -2px;
  top: -12px;
}

p.subheading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #7d7d7d;
  font-size: 13px;
  margin-top: 50px;
}

.platform-logos {
  text-align: center;
  img {
    width: 100px;
    margin: 5px 10px;
    opacity: 0.8;
  }
}

// ion-content {
//   --background: url("/assets/ui/background.png") center top / cover no-repeat;
// }
