<ion-header>
  <ion-toolbar>
    <img src="/assets/ui/logo-white.png" class="logo">
    <ion-button slot="end" size="small" class="download-app">
      Get the App
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen #content>
  <div class="hero">
    <div class="hero-container">
      <h1 class="hero-title">Download Videos from Instagram, TikTok, YouTube and Co.</h1>
    </div>
  </div>
  <div class="page-container">
    <ion-card class="main-input">
      <ion-card-content>

        <!-- <ion-progress-bar color="primary" [value]="dlProgress"></ion-progress-bar> -->

        <ion-item lines="none" id="input">
          <ion-input placeholder="Insert link to download photo or video…" autofocus inputmode="url" type="url"
            [(ngModel)]="videoLink" (ionChange)="getPostMeta()"></ion-input>
        </ion-item>

        <div id="results" class="hide">
          <img [src]="results?.media[currentMedia]?.thumbnail">

          <ion-segment *ngIf="results?.media.length > 1" class="media-selector" [value]="'media-' + currentMedia"
            (ionChange)="changeMedia($event)">
            <ion-segment-button [value]="'media-' + i" *ngFor="let media of results?.media; let i = index;"
              (click)="currentMedia = i">
              <ion-label>{{i+1}}</ion-label>
            </ion-segment-button>
          </ion-segment>

          <ion-segment *ngIf="results?.media.length >= 1 && results?.media[0]?.resolutions?.length"
            class="media-selector" [value]="currentResolution" [(ngModel)]="currentResolution">
            <ion-segment-button [value]="i"
              *ngFor="let resolution of results?.media[0]?.resolutions; let i = index;" (click)="currentResolution = i">
              <ion-label>{{ resolution.quality || resolution.resolution }}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>



      </ion-card-content>
    </ion-card>

    <ion-button color="primary" expand="block" class="download-large" [disabled]="!results" (click)="forceDownload()">
      <span *ngIf="!showLoading">Download ({{dlProgress}})</span>
      <ion-spinner *ngIf="showLoading"></ion-spinner>
    </ion-button>
    <!-- <ion-button color="primary" expand="block" class="download-large" [disabled]="!videoLink.length">
      <ion-icon *ngIf="!showLoading && result" slot="start" name="arrow-back"></ion-icon>
      <span *ngIf="!showLoading">{{ !result ? 'Download' : 'Back' }}</span>
      <ion-spinner *ngIf="showLoading"></ion-spinner>
    </ion-button> -->

    <p class="subheading">Works with</p>

    <div class="platform-logos">
      <img src="/assets/platforms/youtube.png">
      <img src="/assets/platforms/tiktok.png">
      <img src="/assets/platforms/instagram.png">
      <img src="/assets/platforms/twitter.png">
    </div>



  </div>




</ion-content>